form {
	display: flex;
	justify-content: center;
	width: min-content;
	background-color: whitesmoke;
	border: 2px solid rgb(50, 50, 50);
	border-radius: 5px;
}

input {
 height: 2rem;
 border-radius: 5px;
 outline: none;
}

label {
font-weight: 900;
font-size: larger;
}

.container {
	margin: 1rem;
	justify-content: center;
}

.form-container {
	display: grid;
	justify-content: center;
	align-items: center;
	margin-top: 80px;
}

button {
	width: 4rem;
	font-weight: 600;
	border: none;
	background-color: black;
	color: white
}